.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.fighter___fighter-details {
  background: #ffdfa7;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.fighter-preview___img {
  height: 350px;
}
